<div id="post_body" class="px-10 py-10 bg-zinc-200 dark:bg-zinc-800 shadow-lg overflow-scroll rounded-lg p-5">
    <div class="flex gap-x-3">
        <div class="bg-red-800 px-3 py-1 rounded-full"><a href="/t/{{topic.slug.value}}/" class="text-1xl dark:text-gray-300">{{ topic.name }}</a></div>
        <div class="bg-emerald-700 px-3 py-1 rounded-full"><a href="/u/{{user.username.value}}/" class="text-1xl dark:text-gray-300">{{ user.name }}</a></div>
    </div>
    <h1 class="text-3xl dark:text-gray-300">{{ post.title }}</h1>
    <div class="mt-5 dark:text-gray-300">{{ post.body | linebreaksbr |safe }}</div>
</div>