{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col h-full">
    <div class="mt-10 h-full m-auto w-3/5">
        <form method="post" class="flex flex-col h-full dark:text-gray-300">
            <h1 class="text-gray-300 pb-5 text-3xl">Create</h1>
            {% if message %}
                <h1 class="text-red-500 pb-5 text-2xl">{{ message }}</h1>
            {% endif %}

            <div class="flex-none my-3">
                <label for="title" class="inline-block">Title</label>
                <input name="title" type="text" value="{{ form.title }}" class="block text-black dark:text-gray-300 px-2 py-1 rounded w-1/4 dark:bg-zinc-800 border-slate-600 border"/>
            </div>
            <textarea name="body" cols="30" rows="10" class="dark:bg-zinc-800 border-slate-600 border p-5"></textarea>
            <div class="flex-none mt-5 mb-20">
                <button type="submit" class="dark:bg-blue-700 dark:hover:bg-blue-600 py-2 px-6 rounded shadow">Save</button>
            </div>
        </form>
    </div>
    </div>
{% endblock%}
