<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/tailwind.css">
    <script src="/static/htmx.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    {% block extra_head %} {% endblock %}
    <title>Xamyn</title>
</head>
<body class="h-screen dark:bg-black">
    <div class="h-full flex flex-col">
        <header class="flex-0 bg-zinc-200 dark:bg-zinc-900 shadow-xl p-3">
            <h1 class="dark:text-gray-300 text-2xl">Xamyn</h1>
        </header>
        <div class="h-full">
            {% block content %} {% endblock %}
        </div>
    </div>
    {% block scripts %} {% endblock %}
</body>
</html>