{% extends "base.html" %}

{% block extra_head%}
    <script src="/static/split-grid.js"></script>
    <link rel="stylesheet" href="/static/style.css">
{% endblock%}

{% block content %}
        <div class="h-full p-4 grid split-grid-temp-cols gap-0">
            <div class="overflow-scroll" x-data="{ selected: null }">
                {% for post in posts %}
                    {% if loop.first %}
                        <div x-init="selected = '{{post.slug.value}}'"></div>
                    {% endif %}
                    <div
                        x-on:click="selected = '{{ post.slug.value}}'"
                        class="cursor-pointer rounded-lg mb-3 p-3"
                        x-bind:class="selected == '{{ post.slug.value}}' ? 'bg-zinc-200 dark:bg-zinc-800' : 'bg-zinc-200 dark:bg-zinc-900'"
                        hx-get="/p/{{ post.slug.value }}/"
                        hx-target="#post_body"
                        hx-swap="outerHTML"
                    >
                        <h1 class="text-2xl dark:text-gray-300">{{ post.title }}</h1>
                        <p class="dark:text-gray-300">{{ post.body | truncate(length=200) }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="split-div"></div>
            {% include 'posts/_detail.html' %}
        </div>
        <script>
            Split({
                columnGutters: [{
                    track: 1,
                    element: document.querySelector('.split-div'),
                }],
            })
        </script>
{% endblock%}
