{% extends "base.html" %}

{% block content%}
    <h1 class="text-6xl dark:text-gray-300">Hello There</h1>
    {% if message %}
    <h2 class="dark:text-red-500">{{ message }}</h2>
    {% endif %}
    <form method="post" class="dark:text-gray-300">
        <div class="my-1">
            <label for="name" class="inline-block">Name</label>
            <input name="name" type="text" value="{{ form.name }}" class="block text-black px-2 py-1 rounded" />
            {% if errors.name %}
                <h2 class="dark:text-red-400">{{ errors.name }}</h2>
            {% endif %}
        </div>
        <div class="my-1">
            <label for="email" class="inline-block">Email</label>
            <input name="email" type="text" value="{{ form.email }}" class="block text-black px-2 py-1 rounded" />
            {% if errors.email %}
                <h2 class="dark:text-red-400">{{ errors.email }}</h2>
            {% endif %}
        </div>
        <div class="my-1">
            <label for="username" class="inline-block">Username</label>
            <input name="username" type="text" value="{{ form.username }}" class="block text-black px-2 py-1 rounded" />
            {% if errors.username %}
                <h2 class="dark:text-red-400">{{ errors.username }}</h2>
            {% endif %}
        </div>
        <div class="my-1">
            <label for="password" class="inline-block">Password</label>
            <input name="password" type="password" value="{{ form.password }}" class="block text-black px-2 py-1 rounded" />
            {% if errors.password %}
                <h2 class="dark:text-red-400">{{ errors.password }}</h2>
            {% endif %}
        </div>
        <div class="my-1">
            <label for="confirm_password" class="inline-block">Confirm Password</label>
            <input name="confirm_password" type="password" value="{{ form.confirm_password }}" class="block text-black px-2 py-1 rounded" />
            {% if errors.confirm_password %}
                <h2 class="dark:text-red-400">{{ errors.confirm_password }}</h2>
            {% endif %}
        </div>
        <div class="mt-5">
            <button type="submit" class="dark:bg-blue-700 dark:hover:bg-blue-600 p-2 shadow">Create Account</button>
        </div>
    </form>
{% endblock%}